<html>
	<head>
		<title>Test notify script</title>

		<script type="text/javascript" src="components/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="components/angular/angular.min.js"></script>
		<script type="text/javascript" src="src/notify.js"></script>
<script type="text/javascript" src="example/example.js"></script>
<style type="text/css">
	.notify{
		padding: 5px 10px;
		border-radius: 4px;
		border: 1px solid #eee;
		background-color: indianred;
	}
</style>
	</head>
	<body ng-app="exampleApp">
		<div ng-controller="ExampleCtrl">
			<h1>Hello there</h1>
			<button ng-click="exampleClick()">Example Button Click</button>
			<h1>Test watch</h1>
			<input type="text" ng-model="xmp" />
			<p>Para: {{xmp}}</p>

			<!-- Required Directive -->
			<div class="notify" notify model="xmp" />
		</div>
	</body>
</html>
